@charset "UTF-8";


.Wrapper{
    margin: 10px ;
    width: 1000px;

}

.main-img{
    image-resolution: from-image;
    margin-left:1px;
    margin-right: 1px;
    margin-bottom: 0px;
}

.topbar h1{
    color: #121bfe;
    text-align: center;
    margin-left: 200px;
    margin-top: 0px;
    font-size: 38px;
}

.site-search{
    padding: 3px 5px 3px 10px;
    margin: 0px;
    float: right;
    background: #0cb0ff;
    border-radius: 10px;
}



.site-search button{
    margin-right: 0px;
    padding: 2px 2px;
    float: right;
    width: 100px;
    border:0;
    background-color: #b5c8de;

}

.core{
    margin-top:120px;
    margin-left: 10px;
    width:1000px;
    background: #cac2ff;
}

.tobereply{

    float: right;
    width: 670px;
    background: #82c9ff;

}

.buttons{
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    width:300px;
}

.buttons input{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 5px;
    width: 290px;
    height: 50px;
    padding: 30px;
    border-radius: 10px;
    background-color: #4eff99;
    font-size: 18px;
    display: table-column;

}
