.heading{
    width: 1000px;
    height: 50px;
    background:rgba(131,165,165,0.76);
    margin: auto;
    font-size: xx-large;
    text-align: center;
}
.Details{
    background: rgba(165,118,143,0.76);
    width: 700px;
    height: 220px;
    margin: auto;

}
.Details ul form{
    margin-top: 10px;
    margin: auto;
    text-align: left;
}
.Details ul form input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.Details ul form label{
    width: 200px;
    height: 80px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 40px;
}