.system img{
    width: 1350px;
    height: 100px;
    margin: auto;
}
.Background{
    width: 1350px;
    height: 1000px;
    margin: auto;
    background-color: #CCCCCC;
}
.heading{
    width: 700px;
    height: 50px;
    background:rgba(131,165,165,0.76);
    margin: auto;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 10px;
}
.Report{
    background: rgba(216,189,216,0.92);
    width: 900px;
    height: 600px;
    margin: auto;

}