.heading{
    width: 1000px;
    height: 50px;
    background:rgba(219,154,190,0.92);
    margin: auto;
    font-size: xx-large;
    text-align: center;
}
.Background{
    width: 1350px;
    height: 630px;
    margin: auto;
    background-color: #CCCCCC;
}
.selection{
    float: inherit;
    background:rgba(165,118,143,0.76);
    width:730px;
    height:230px;
    margin:auto;
}

.Choose-date{
    background: rgba(165,118,143,0.76);
    width: 730px;
    height: 160px;
    margin: auto;

}
.Start-date{
    margin-top: 20px;
    float: left;
    background: rgba(143,157,165,0.76);
    width: 300px;
    height: 80px;
    margin:auto;

}
.End-date{
    margin-top: 20px;
    background: rgba(143,157,165,0.76);
    width: 290px;
    height: 80px;
    float: right;
    margin:auto;
    margin-right: 40px;
}

.section{
    float: left;
    background: rgba(143,157,165,0.76);
    width: 300px;
    height: 80px;
    margin:auto;
}

.generate{
    background: rgba(165,118,143,0.76);
    width: 730px;
    height: 60px;
    margin: auto;
}
.generate input{
    margin-right: 40px;
    float: right;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: #333333;
    text-decoration-style: solid;
    font-size: medium;
    background-color: #9075ab;
}
.Report-results{
    width: 1000px;
    height: 700px;
    margin: auto;
    background: rgba(233, 109, 142, 0.76);
}
.Report-results table {
    margin-left:10px;


}

#logout {
    margin-left: 50px;
    width: 100px;
    height: 40px;
    color: #E8F3F8;
    background-color: rgba(150, 17, 29, 0.63);
    border-radius: 10px;
}
