.system img{
    width: 1350px;
    height: auto;
    margin: auto;
}
.Background{
    width: 1350px;
    height: auto;
    margin: auto;
    background-color: #CCCCCC;
}
.wrapper {
    margin: auto;
    background-color:rgba(120,140,198,0.76);
    width: 1000px;
    height: 50px;
    text-align: center;
    color: rgba(55,68,130,0.92);
    margin-bottom: 10px;

}

.history{
    width: 1000px;
    height: 500px;
    background-color:lightsteelblue;
    margin: auto;

}