.wrapper {
    margin: auto;
    background-color:#dc7a95;
    width: 1000px;
    height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;

}

.history{
    width: 1000px;
    height: 500px;
    background-color: lightpink;
    margin: auto;

}