.wrapper {
    margin: auto;
    width: 1350px;
    background-color: gainsboro;
}

.top_bar_img {
    width: 1350px;
    height: 100px;
    margin: auto;

}

.top-bar {
    color: white;
    text-align: center;
    padding: 10px 10px 5px 2px;
    background-color: #333333;

}

.letter_img {
    width: 100px;
    padding: 30px 0px 5px 20px;
}


.letter_img, .title {
    display: table-cell;
}

.content {
    height: 400px;
    padding: 10px 5px 5px 2px;
    margin-left: 50px;
}

.reg_no, .date, .subject, .sender, .section {
    height: 30px;
    padding: 5px 5px 5px 5px;

}

.scan_copy {
    padding: 5px 5px 5px 5px;
}

#line1, #ll1 {
    display: inline;
}

#line2, #ll2 {
    display: inline;
}

#line3, #ll3 {
    display: inline;
}

#line4, #ll4 {
    display: inline;
}

#line5, #ll5 {
    display: inline;
}

input[type='button'] {
    width: 200px;
    height: 30px;
}

.letter_reply, .history_reco, .reject_btn {
    display: table-cell;
    align-content: flex-end;
    width: 250px;
}

form {
    width: 550px;
    margin-left: 650px;
}
