.wrapper {
    margin: auto;
    width: 1350px;
    height: 1700px;
    background-color: gainsboro;
}

.top_bar_img {
    width: 1350px;
    height: 100px;
    margin: auto;

}

.scan_copy img {
    width: 800px;
    height: 1000px;
}
.top-bar {
    color: white;
    padding: 10px 10px 5px 2px;
    background-color: #333333;

}

.letter_img {
    width: 100px;
    padding: 30px 0px 5px 20px;
}


.letter_img, .title {
    display: table-cell;
}

.content {
    padding: 10px 5px 5px 2px;
    margin-left: 50px;
    background-color: gainsboro;
}

.marked {
    color: red;
}


.reg_no, .date, .subject, .sender, .section {
    height: 30px;
    padding: 5px 5px 5px 5px;

}

.scan_copy {
    padding: 5px 5px 5px 5px;
}

#line1, #ll1 {
    display: inline;
}

#line2, #ll2 {
    display: inline;
}

#line3, #ll3 {
    display: inline;
}

#line4, #ll4 {
    display: inline;
}

#line5, #ll5 {
    display: inline;
}

input[type='button'] {
    width: 200px;
    height: 30px;
}

.letter_reply, .history_reco {
    display: table-cell;
    align-content: flex-end;
    width: 250px;
}

.btn_set {
    float: right;

}

ul li {
    display: table-cell;
}

ul li:nth-child(1) {
    position: relative;
    left: 50px;
}

ul li:nth-child(2) {
    position: relative;
    left: 1020px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/*css for drop down list*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;
}

.dropdown-content button {
    margin-left: 5px;
    margin-top: 40px;
}

.dropdown-content p {
    margin-left: 15px;
    font-size: small;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}
