img{
    margin: 0px;
}
a{
    margin-left: 30px;
    text-decoration: double;
    color: blueviolet;

}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}
.top-bar{
    width: 1000px;
}
.top-bar-links ul{
    list-style: none;
    text-align: center;

}
.top-bar-links ul li a{
    color: rgb(255, 63, 67);
    font-size: 300%;
    font-family:"Wijesekara Layout";
}
.login{
    font-size: 15px;
    border-radius: 50px;
    margin-left: 120px;
    width :400px;
    height: 250px;
    background: rgb(255, 252, 92);
    position: relative;
    left: 650px;
    top: 180px;
}

.login ul form{
    margin-top: 10px;
    text-align: left;

}

.login ul form select,input{
    font-size: 16px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;

}




.login ul form p{
    color: crimson;
    font-style: oblique;
}

.logo{
    position: relative;
    top: 40px;
}