
.wrapper{
    background-color: midnightblue;
    width: 1218px;
    height: 500px;
}

.titleBar{
    background: paleturquoise;
    text-align: center;

}


.core{
    background-color: lightseagreen;
    float: left;
    width: 300px;
    height: 500px;

}
.sidebar{

    background-color: lightseagreen;
    float: right;
    width: 300px;
    height: 500px;
}
.sidebar form fieldset input{
    /*margin-left:100px ;*/
    width: 25px;
    height:25px;
    margin-left: 210px;
}
.sidebar form fieldset label{
    height: 25px;
    width: 200px;
    text-align: left;
    background-color: powderblue;
   /* margin-right: 10px;*/
    position: absolute;
    border: navy;
    border-radius: 1px;
}
