@charset "UTF-8";

#wrapper {
    width: 1336px;
    height: 748px;
    background-color: midnightblue;
}
#banner{
    width: 1336px;
    height: 100px;
    background-color: paleturquoise;
    text-align: center;
}
#menuTop{
    width: 1336px;
    height: 100px;
    background-color: white;
}

#columnleft{
    width: 300px;
    height: 550px;
    background-color: darkcyan;
    float: left;
}
#columnleft input{
    width: 250px;
    height: 80px;
    background-color: powderblue;
}
#columnright{
    width: 300px;
    height: 450px;
    background-color: darkcyan;
    float: right;
}

#columnright form fieldset input{
    width: 25px;
    height:25px;
    margin-left: 210px;
    padding: 10px 5px 5px 5px;
}

#columnright form fieldset label{
    height: 25px;
    width: 200px;
    text-align: left;
    background-color: powderblue;
    position: absolute;
    border: navy;
    border-radius: 1px;
    padding: 10px 5px 5px 5px;
}
#content{
    width: 736px;
    height: 548px;
    background-color: midnightblue;
    margin-left: 300px;
}
