.wrapper {
    margin: auto;
}

.top-bar {
    width: 800px;
    height: 50px;
    margin-left: 300px;
    background-color: #6095ff;
    color: white;
    text-align: center;
    padding: 10px 5px 20px 2px;

}

.reply-letter-model {
    width: 800px;
    background-color: #a8f6ff;
    margin-left: 300px;
    padding: 5px 5px 5px 2px;

}

ul {
    list-style-type: none;
}

li {
    padding: 8px 10px 5px 2px;
}

input[name="txtsenderAddress"] {
    width: 500px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 6px;
}

input[name="ddate"] {
    width: 300px;
    height: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

input[name="txtreceiverAddress"] {
    width: 500px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 5px;
}

input[name="txtletterBody"] {
    width: 900px;
    height: 500px;
    padding-top: 10px;
    padding-bottom: 5px;
}

input[name="txtend"] {
    width: 300px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}


input[id="refresh"],[id="button"], [name="cancel"]{
    display:inline-block;
    margin-right:80px;
    margin-left: 100px;
    margin-bottom: 20px;

}
