.heading{
    width: 1000px;
    height: 70px;
    background:rgba(131,165,165,0.76);
    margin: auto;
    font-size: xx-large;
    text-align: center;
}
.Choose-date{
    background: rgba(165,118,143,0.76);
    width: 700px;
    height: 160px;
    margin: auto;

}
.Start-date{
    float: left;
    background: rgba(143,157,165,0.76);
    width: 300px;
    height: 80px;

}
.End-date{
    background: rgba(143,157,165,0.76);
    width: 300px;
    height: 80px;
    float: right;
}
.generate{
    background: rgba(165,118,143,0.76);
    width: 700px;
    height: 60px;
    margin: auto;
}
.generate button{
    float: right;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: darkorchid;
}
.Report-results{
    width: 1000px;
    height: 700px;
    margin: auto;
    background: rgba(198,176,186,0.76);
}