.Background{
    width: 1350px;
    height: 1200px;
    margin: auto;
    background-color: #CCCCCC;
}
.system img{
    width: 1350px;
    height: 100px;
    margin: auto;
}
.heading{
    width: 1000px;
    height: 70px;
    background:rgba(131,165,165,0.76);
    margin: auto;
    font-size: xx-large;
    text-align: center;
}
.Choose-date{
    background: rgba(165,118,143,0.76);
    width: 650px;
    height: 160px;
    margin: auto;

}
.Start-date{
    float: left;
    background: rgba(143,157,165,0.76);
    width: 250px;
    height: 80px;

}
.End-date{
    background: rgba(143,157,165,0.76);
    width: 250px;
    height: 80px;
    float: right;
}

.generate input{
    margin-top: 10px;
    float: left;
}
.Send-head input{
    margin-top: 10px;
}
.Take-pdf input{
    margin-top: 10px;
}
.Report-results{
    width: 1000px;
    height: 700px;
    margin: auto;
    margin-top: 20px;
    background: rgba(198,176,186,0.76);
    margin-bottom: 20px;
}
.Send-head{
    float: right;
    margin-right: 50px;
    border-radius: 20px;
}
.Take-pdf{
    float: right;
    margin-right: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}