.wrapper h1{
    color: blue;
    text-align:center;

}

.core {
    margin-left: 200px;
    text-align: center;
    width: 1000px;
    height:800px;
    background: center;
    background-color: lightgoldenrodyellow;
}

.core ul form{
    margin-left: 20px;
    margin-top: 50px;
    text-align: left;
}
.section input{
    margin-left: 40px;
    margin-top:10px;
    margin-bottom: 30px;
    width: 250px;
    font-style: italic;
}
.section label{
    font-size: 18px;
    color: darkred;
    font-style: inherit;
    margin-left: 20px;
    margin-top:10px;
    margin-bottom: 10px;

}
.other input{

    margin-left: 80px;
    margin-top:10px;
    margin-bottom: 30px;
    width: 250px;
    font-style: italic;
}

.other label{
    font-size: 18px;
    color: darkred;
    font-style: inherit;
    margin-left: 20px;
    margin-top:10px;
    margin-bottom: 10px;

}
