.wrapper{
    margin: auto;
    width: 1350px;
    height: 650px;
    background-color: #eff0f2;
}

.top-bar-search {
    width: 1070px;
    height: 50px;
    margin: auto;
    background-color: rgba(120, 140, 198, 0.76);
    padding: 10px 10px 10px 10px;
    border-style: inset;
    border-color: #b099ff;
}

.top_bar_img {
    width: 1350px;
    height: 100px;
    margin: auto;

}

.seach-Model {
    margin: auto;
    width: 1100px;
}

.search-bar, .search-bottom-bar {
    padding: 10px 10px 10px 10px;
}

.txtLetterNo, .dDate, .txtSection, .txtSubject, .lstSender {
    width: 200px;
    height: 50px;
    padding: 5px 20px 5px 0px;
    align-content: center;
    display: table-cell;
}


.criteria1, .criteria2, .criteria3, .criteria4, .criteria5 {
    width: 200px;
    height: 50px;
    padding: 5px 20px 5px 0px;
    text-align: center;
    background-color: #d3dae5;
    display: table-cell;
}

input[type="text"] {
    padding:5px 10px 5px 10px;
    alignment: left;
    width: 175px;
    height: 10px;
    font-family: Madura;
}

input[type="date"] {
    padding: 5px 10px 5px 10px;
    alignment: left;
    width: 175px;
    height: 10px;
}

.search-button{
    padding: 10px;
    border-radius: 100px;
    text-decoration: none;
    margin-left: auto;
}

.search-results{
    width: 1100px;
    margin: auto;

}

.no_result {
    margin-left: 50px;
}

.search_record {
    width: 1000px;
    height: auto;
    border-radius: 8px;
    padding: 10px 5px 20px 5px;
    background-color: #d3dae5;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

#next {
    float: right;
    padding-bottom: 20px;
    padding-right: 10px;
}






