.top-bar-search{
    width: 1000px;
    margin: auto;
    text-align: start;
}

table{
    text-align: left;
}

table th{
    align-content: left;
    padding: 5px 10px 5px 10px;

}

#headings{
    background-color: #ffd4ff;
}

input[type=text]{
    padding: 5px 10px 5px 10px;
}

input[type=date]{
    padding: 5px 10px 5px 10px;
    alignment: left;
}

.search-button{
  /*  background-color: antiquewhite;
    color: darkred;
    width: auto;
*/

}

.search-button:hover{
    text-decoration: underline;
}