
input,select{
    font-size:100%; margin-left:20px; width:290px; margin-bottom:10px;
}
label{
    width: 160px; display: block; float:left; clear:left;
}
button{
    font-size:100%; margin-left:20px; margin-bottom:10px; margin-top:10px;
}
#entire{
    margin: auto;
    width: 1350px;
    height: 1000px;
    background-color: #eff0f2;
}
#whole{

    margin-left: 200px;
    margin-bottom: auto;
    background-color: #eff0f2;
    width: 936px;
    height: 480px;

}
#titlebar {
    /*margin-top: 300px;*/
    background: #241463;
    width: 936px;
    height: 80px;
    text-align: center;
    font-size: medium;
    color: #290a7c;

}
#body{
    background: #c8dcf4;
    width: 936px;
    height: 300px;
}
#sendSection{
    background: #41bddc;
    width: 936px;
    height: 80px;

}


#dialogoverlay {
    display: none;
    opacity: 8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
}

#dialogbox{
    display:none;
    position:fixed;
    background:#000;
    border-radius:7px;
    width:550px;
    z-index:10;
}

#dialogbox >div {
    background:#FFF; margin: 8px;
}

#dialogbox > div > #dialogboxhead{
    background: #8a8ed2;
    font-size: 19px;
    padding: 10px;
    color: #060333;

}
#dialogbox > div > #dialogboxbody {
    background: #060333;
    padding: 20px;
    color: #FFF;
}
#dialogbox > div > #dialogboxfoot {
    background: #578ca4;
    padding: 10px;
    text-align: right;
}

#letterOverlay{
    display: none;
    opacity: 8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    width: 100%;
    z-index: 10;
}

#wholeLetter{
    display:none;
    position:fixed;
    background: #0d61ac;
    border-radius:7px;
    width:800px;
    z-index:10;
}

#wholeLetter >div {
    background: #e1f0ff; margin: 8px;
}

#wholeLetter > div > #topPartLetter{
    background: #660d0b;
    font-size: 19px;
    padding: 10px;
    color: #CCC;

}
#wholeLetter > div > #contentLetter {
    background: #38ddb4;
    padding: 20px;
    color: #FFF;
}
#wholeLetter > div > #bottomPartLetter {
    background: #eea283;
    padding: 10px;
    text-align: right;
}

