#titlebar {
    background: black;
}
#body{
    background: sandybrown;
}
#sendSection{
    background: crimson;

}

#btn1{
    background-image: url("");
}
#btn2{
    background-image: url("attach-2-icon.png");
}
#btn3{
    background-image: url("");

}